/* cyrillic-ext */
@font-face {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/1Pt_g8LJRfWJmhDAuUsSQamb1W0lwk4S4WjMDr4fIA9c.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/1Pt_g8LJRfWJmhDAuUsSQamb1W0lwk4S4WjMDrcfIA9c.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek */
@font-face {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/1Pt_g8LJRfWJmhDAuUsSQamb1W0lwk4S4WjMDrAfIA9c.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/1Pt_g8LJRfWJmhDAuUsSQamb1W0lwk4S4WjMDrwfIA9c.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/1Pt_g8LJRfWJmhDAuUsSQamb1W0lwk4S4WjMDr0fIA9c.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/1Pt_g8LJRfWJmhDAuUsSQamb1W0lwk4S4WjMDrMfIA.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Shojumaru';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Shojumaru"), local("Shojumaru-Regular"), url(../fonts/rax_HiWfutkLLnaKCtl8DRhfo0s.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Shojumaru';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Shojumaru"), local("Shojumaru-Regular"), url(../fonts/rax_HiWfutkLLnaKCtl8Axhf.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* vietnamese */
@font-face {
  font-family: 'Dancing Script';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/If2cXTr6YS-zF4S-kcSWSVi_sxjsohD9F50Ruu7BMSo3Rep8ltA.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Dancing Script';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/If2cXTr6YS-zF4S-kcSWSVi_sxjsohD9F50Ruu7BMSo3ROp8ltA.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Dancing Script';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/If2cXTr6YS-zF4S-kcSWSVi_sxjsohD9F50Ruu7BMSo3Sup8.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* line 1, ../sass/partials/_layout.scss */
* {
  box-sizing: border-box;
}

/* line 4, ../sass/partials/_layout.scss */
body, html {
  height: 100%;
}

/* line 16, ../sass/partials/_mixins.scss */
.about-s1 {
  min-height: 100vh;
}

/* line 16, ../sass/partials/_mixins.scss */
.confirm-s1 {
  min-height: 100vh;
}

/* line 16, ../sass/partials/_mixins.scss */
.contact-s1 {
  min-height: 100vh;
}

/* line 16, ../sass/partials/_mixins.scss */
.error-s1 {
  min-height: 100vh;
}

/* line 16, ../sass/partials/_mixins.scss */
.index-s1 {
  min-height: 100vh;
}

/* line 16, ../sass/partials/_mixins.scss */
.menu-s1 {
  min-height: 100vh;
}

/* line 16, ../sass/partials/_mixins.scss */
.privacy-s1 {
  min-height: 100vh;
}

/* line 16, ../sass/partials/_mixins.scss */
.treats-s1 {
  min-height: 50vh;
}

/* line 16, ../sass/partials/_mixins.scss */
.treats-s2 {
  min-height: 50vh;
}

/* line 16, ../sass/partials/_mixins.scss */
.treats-s3 {
  min-height: 50vh;
}

/* line 16, ../sass/partials/_mixins.scss */
.treats-s4 {
  min-height: 50vh;
}

/* line 16, ../sass/partials/_mixins.scss */
.treats-s5 {
  min-height: 50vh;
}

/* line 16, ../sass/partials/_mixins.scss */
.treats-s6 {
  min-height: 50vh;
}

/* line 16, ../sass/partials/_mixins.scss */
.treats-s7 {
  min-height: 50vh;
}

/* line 16, ../sass/partials/_mixins.scss */
.treats-s8 {
  min-height: 50vh;
}

/* line 16, ../sass/partials/_mixins.scss */
.treats-s9 {
  min-height: 50vh;
}

/* line 16, ../sass/partials/_mixins.scss */
.treats-s10 {
  min-height: 50vh;
}

/* line 16, ../sass/partials/_mixins.scss */
.treats-s11 {
  min-height: 50vh;
}

/* line 16, ../sass/partials/_mixins.scss */
.treats-s12 {
  min-height: 50vh;
}

/* line 16, ../sass/partials/_mixins.scss */
.about-s2 {
  min-height: 33vh;
}

/* line 16, ../sass/partials/_mixins.scss */
.confirm-s2 {
  min-height: 33vh;
}

/* line 16, ../sass/partials/_mixins.scss */
.error-s2 {
  min-height: 33vh;
}

/* line 16, ../sass/partials/_mixins.scss */
.index-s2 {
  min-height: 33vh;
}

/* line 16, ../sass/partials/_mixins.scss */
.index-s3 {
  min-height: 33vh;
}

/* line 16, ../sass/partials/_mixins.scss */
.privacy-s2 {
  min-height: 33vh;
}

/* line 9, ../sass/partials/_mixins.scss */
.treats-s1 {
  background-image: url("../img/treats/treats-s1.jpg");
  background-position: center center;
  background-size: cover;
}

/* line 9, ../sass/partials/_mixins.scss */
.treats-s2 {
  background-image: url("../img/treats/treats-s2.jpg");
  background-position: center center;
  background-size: cover;
}

/* line 9, ../sass/partials/_mixins.scss */
.treats-s3 {
  background-image: url("../img/treats/treats-s3.jpg");
  background-position: center center;
  background-size: cover;
}

/* line 9, ../sass/partials/_mixins.scss */
.treats-s4 {
  background-image: url("../img/treats/treats-s4.jpg");
  background-position: center center;
  background-size: cover;
}

/* line 9, ../sass/partials/_mixins.scss */
.treats-s5 {
  background-image: url("../img/treats/treats-s5.jpg");
  background-position: center center;
  background-size: cover;
}

/* line 9, ../sass/partials/_mixins.scss */
.treats-s6 {
  background-image: url("../img/treats/treats-s6.jpg");
  background-position: center center;
  background-size: cover;
}

/* line 9, ../sass/partials/_mixins.scss */
.treats-s7 {
  background-image: url("../img/treats/treats-s7.jpg");
  background-position: center center;
  background-size: cover;
}

/* line 9, ../sass/partials/_mixins.scss */
.treats-s8 {
  background-image: url("../img/treats/treats-s8.jpg");
  background-position: center center;
  background-size: cover;
}

/* line 9, ../sass/partials/_mixins.scss */
.treats-s9 {
  background-image: url("../img/treats/treats-s9.jpg");
  background-position: center center;
  background-size: cover;
}

/* line 9, ../sass/partials/_mixins.scss */
.treats-s10 {
  background-image: url("../img/treats/treats-s10.jpg");
  background-position: center center;
  background-size: cover;
}

/* line 9, ../sass/partials/_mixins.scss */
.treats-s11 {
  background-image: url("../img/treats/treats-s11.jpg");
  background-position: center center;
  background-size: cover;
}

/* line 9, ../sass/partials/_mixins.scss */
.treats-s12 {
  background-image: url("../img/treats/treats-s12.jpg");
  background-position: center center;
  background-size: cover;
}

/* line 2, ../sass/partials/_modules.scss */
.about-s1 {
  background-image: url("../img/about-bg-s1.jpg");
  background-position: center center;
  background-size: cover;
}

/* line 7, ../sass/partials/_modules.scss */
.bg-light-gray {
  background-color: #e6e6e6;
}

/* line 12, ../sass/partials/_modules.scss */
.border-gray {
  border-color: #999;
}

/* line 17, ../sass/partials/_modules.scss */
.confirm-s1 {
  background-image: url("../img/index-bg-s1.jpg");
  background-position: center center;
  background-size: cover;
}

/* line 22, ../sass/partials/_modules.scss */
.error-s1 {
  background-image: url("../img/index-bg-s1.jpg");
  background-position: center center;
  background-size: cover;
}

/* line 27, ../sass/partials/_modules.scss */
.font-header {
  font-family: "Dancing Script", cursive;
  letter-spacing: 2px;
}
/* line 31, ../sass/partials/_modules.scss */
.font-logo {
  font-family: "Shojumaru", cursive;
}
/* line 34, ../sass/partials/_modules.scss */
.font-menu {
  font-family: "Comfortaa", cursive;
}

/* line 39, ../sass/partials/_modules.scss */
.index-s1 {
  background-image: url("../img/index-bg-s1.jpg");
  background-position: center center;
  background-size: cover;
}

/* line 44, ../sass/partials/_modules.scss */
.map-container {
  height: 50vh;
}

/* line 49, ../sass/partials/_modules.scss */
.max-600 {
  max-height: 600px;
}

/* line 55, ../sass/partials/_modules.scss */
.menu-table td:nth-of-type(n+2) {
  text-align: right;
}

/* line 61, ../sass/partials/_modules.scss */
.minh-50vh {
  min-height: 50vh;
}

/* line 67, ../sass/partials/_modules.scss */
.navbar-dark .navbar-nav .nav-link {
  color: #fff;
}
/* line 68, ../sass/partials/_modules.scss */
.navbar-dark .navbar-nav .nav-link:hover {
  text-decoration: underline;
}
/* line 74, ../sass/partials/_modules.scss */
.navbar-dark .navbar-text {
  color: #fff;
}

/* line 81, ../sass/partials/_modules.scss */
.navbar-light .navbar-nav .nav-link:hover {
  text-decoration: underline;
}

/* line 88, ../sass/partials/_modules.scss */
.opacity-7 {
  opacity: 0.7;
}
/* line 91, ../sass/partials/_modules.scss */
.opacity-8 {
  opacity: 0.8;
}
/* line 94, ../sass/partials/_modules.scss */
.opacity-9 {
  opacity: 0.9;
}

/* line 99, ../sass/partials/_modules.scss */
.privacy-s1 {
  background-image: url("../img/index-bg-s1.jpg");
  background-position: center center;
  background-size: cover;
}

/* line 104, ../sass/partials/_modules.scss */
.shadow-box {
  box-shadow: 1px 2px 6px black !important;
}

/* line 110, ../sass/partials/_modules.scss */
.text-shadow-black {
  text-shadow: 0 2px 5px black;
}
/* line 113, ../sass/partials/_modules.scss */
.text-shadow-gray {
  text-shadow: 0 1px 2px #999;
}
/* line 114, ../sass/partials/_modules.scss */
.text-shadow-gray-light {
  text-shadow: 0 1px 2px #e6e6e6;
}

/* line 122, ../sass/partials/_modules.scss */
textarea {
  resize: none;
}

@media all and (max-width: 767px) {
  /* line 127, ../sass/partials/_modules.scss */
  .navbar-collapse {
    backdrop-filter: blur(15px);
    border: 1px solid #666;
    padding: 20px;
    z-index: 10;
  }
}
