.about{
    &-s1{
        @include set-bg-cover($about-s1-bg);
    }
}
.bg{
    &-light-gray{
        background-color: lighten($color-gray,30%);
    }
}
.border{
    &-gray{
        border-color: $color-gray;
    }
}
.confirm{
    &-s1{
        @include set-bg-cover($index-s1-bg);
    }
}
.error{
    &-s1{
        @include set-bg-cover($index-s1-bg);
    }
}
.font{
    &-header{
        font-family: $font-header;
        letter-spacing: $font-header-letter-spacing;
    }
    &-logo{
        font-family: $font-logo;
    }
    &-menu{
        font-family: $font-menu;
    }
}
.index{
    &-s1{
        @include set-bg-cover($index-s1-bg);
    }
}
.map{
    &-container{
        height: 50vh;
    }
}
.menu{
    &-table{
        td:nth-of-type(n+2){
            text-align: right;
        }
    }
}
.navbar-dark{
    .navbar-nav{
        .nav-link {
            &:hover{
                text-decoration: underline;
            }
            color: $color-white;
        }
    }
    .navbar-text{
        color: $color-white;
    }
}
.navbar-light{
    .navbar-nav{
        .nav-link {
            &:hover{
                text-decoration: underline;
            }
        }
    }
}
.opacity{
    &-7{
        opacity: 0.7;
    }
    &-8{
        opacity: 0.8;
    }
    &-9{
        opacity: 0.9;
    }
}
.privacy{
    &-s1{
        @include set-bg-cover($index-s1-bg);
    }
}
.shadow{
    &-box{
        box-shadow: $shadow-box !important;
    }
}
.text{
    &-shadow{
        &-black{
            text-shadow: $text-shadow-black;
        }
        &-gray{
            &-light{
                text-shadow: $text-shadow-gray-light;
            }
            text-shadow: $text-shadow-gray;
        }
    }
}

textarea{
    resize:none;
}