$about-s1-bg: "../img/about-bg-s1.jpg";
$color-gray: #999;
$color-white: #fff;
$font-header: 'Dancing Script', cursive;
$font-header-letter-spacing: 2px;
$font-logo: 'Shojumaru', cursive;
$font-menu: 'Comfortaa', cursive;
$height-full: 100vh;
$height-half: 50vh;
$height-third: 33vh;
$index-s1-bg: "../img/index-bg-s1.jpg";
$section-full-height:
    "about-s1",
    "confirm-s1",
    "contact-s1",
    "error-s1",
    "index-s1",
    "menu-s1",
    "privacy-s1";
$section-half-height:
    "treats-s1",
    "treats-s2",
    "treats-s3",
    "treats-s4",
    "treats-s5",
    "treats-s6",
    "treats-s7",
    "treats-s8",
    "treats-s9",
    "treats-s10",
    "treats-s11",
    "treats-s12";
$section-third-height:
    "about-s2",
    "confirm-s2",
    "error-s2",
    "index-s2",
    "index-s3",
    "privacy-s2";
$shadow-box: 1px 2px 6px black;
$text-shadow-black: 0 2px 5px black;
$text-shadow-gray: 0 1px 2px $color-gray;
$text-shadow-gray-light: 0 1px 2px lighten($color-gray,30%);
$treats-bg-obj:
    "treats-s1",
    "treats-s2",
    "treats-s3",
    "treats-s4",
    "treats-s5",
    "treats-s6",
    "treats-s7",
    "treats-s8",
    "treats-s9",
    "treats-s10",
    "treats-s11",
    "treats-s12";
$treats-bg-img:
    "../img/treats/treats-s1.jpg",
    "../img/treats/treats-s2.jpg",
    "../img/treats/treats-s3.jpg",
    "../img/treats/treats-s4.jpg",
    "../img/treats/treats-s5.jpg",
    "../img/treats/treats-s6.jpg",
    "../img/treats/treats-s7.jpg",
    "../img/treats/treats-s8.jpg",
    "../img/treats/treats-s9.jpg",
    "../img/treats/treats-s10.jpg",
    "../img/treats/treats-s11.jpg",
    "../img/treats/treats-s12.jpg";